@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }
  body {
    @apply text-portal-black bg-portal-blue-pale font-sans antialiased m-0;
  }
  button { cursor: pointer; }
  input, button, select, textarea { font-family: inherit; }
}
